
<div mat-menu-item class="with-icon padded">
  <button (click)="toggleSidebar()" color="basic" mat-icon-button>
    <mat-icon>menu</mat-icon>&nbsp;
  </button>         
</div>
 
<div [hidden]="collapse" class="padded">
   <p class="propertiesText" *ngIf="!isSelected">Select a form component</p>
    <div *ngFor="let p of properties">
      <p *ngIf="p.type != 'chk'"  class="propertiesDescription">
        {{p.title}}
        <input class="form-field" type='text' [(ngModel)]="p.value" *ngIf="p.type === 'inp'" (keyup)="changeProp(p)"/>
        <input  class="form-field" type="number" [(ngModel)]="p.value" *ngIf="p.type === 'num'"  (keyup)="changeProp(p)">
        <input  class="form-field" type="number" min="1" max="6" [(ngModel)]="p.value" *ngIf="p.type === 'size' || p.type === 'className'" onkeydown="return false" (click)="changeProp(p)">

        <mat-select [(ngModel)]="selectedValue" *ngIf="p.type === 'type'" (selectionChange)="changeCombo(p)" >
          <mat-option *ngFor="let type of availableTypes" [value]="type">
            {{type}}
          </mat-option>
        </mat-select>

        <button class="form-field" *ngIf="p.type === 'options'" (click)="addOptionsDialog()"  mat-button>Open</button>
        <span  *ngIf="p.type === 'validators'" >
          Validators: <button class="form-field" (click)="validatorsDialog()"  mat-button>Open</button>
        </span>

        <span  *ngIf="p.type === 'dynamicOptions'" >
          Dynamic Options: <button class="form-field" (click)="dynamicOptionsDialog()" mat-button>Open</button>
        </span>
      </p>
      
      <p *ngIf="p.type === 'chk'" class="propertiesDescriptionCheckbox">
        {{p.title}}
        <mat-checkbox  [(ngModel)]="p.value" *ngIf="p.type === 'chk'" (change)="changeProp(p)"> </mat-checkbox>
      </p>
    </div>

</div>

