<mat-sidenav-container class="sidenav-container" autosize="true">

  <!--Left sidenav-->
  <mat-sidenav mode="side" class="side" opened #left position="start">
      <div class="title">
        <button color="basic" mat-icon-button>
          <mat-icon>folder</mat-icon>&nbsp;
        </button>
        <input type="text" [(ngModel)]="this.filename" placeholder="Form Name">
      </div>
      <mat-divider></mat-divider>

      <div mat-menu-item class="padded" >
        <mat-button-toggle-group #modesGroup="matButtonToggleGroup" value="Normal">
          <mat-button-toggle value="Normal" (click)="this.canva.onNormalClick(modesGroup)" color="basic" matTooltip="Select mode">
            <mat-icon class="modeIcons">touch_app</mat-icon>&nbsp;
          </mat-button-toggle> 
          <mat-button-toggle value="Move" (click)="moveComponent(insertGroup.value, modesGroup)" color="basic" matTooltip="Move component mode" mat-icon-button>
            <mat-icon class="modeIcons">pan_tool</mat-icon>&nbsp;
          </mat-button-toggle>
          <mat-button-toggle value="Field down" (click)="moveFieldGroup(false, modesGroup)" color="basic" matTooltip="Move entire field group up" mat-icon-button>
            <mat-icon class="modeIcons">arrow_downward</mat-icon>&nbsp;
          </mat-button-toggle>
          <mat-button-toggle value="Field up" (click)="moveFieldGroup(true, modesGroup)" color="basic" matTooltip="Move entire field group down" mat-icon-button>
            <mat-icon class="modeIcons">arrow_upward</mat-icon>&nbsp;
          </mat-button-toggle>
          <mat-button-toggle value="Delete" (click)="deleteComponent(modesGroup)" color="basic" matTooltip="Delete mode" mat-icon-button>
            <mat-icon class="modeIcons">delete</mat-icon>&nbsp;
          </mat-button-toggle> 
        </mat-button-toggle-group>

        <button (click)="openFile()" color="basic" matTooltip="Import file" mat-icon-button>
          <mat-icon>cloud_upload</mat-icon>&nbsp;
        </button>
        <button (click)="saveJSON ()" color="basic" matTooltip="Download file" mat-icon-button>
          <mat-icon>cloud_download</mat-icon>&nbsp;
        </button> 
      </div>

      <mat-divider class="padded"></mat-divider>

      <div mat-menu-item *ngFor="let i of sideComponents" class="with-icon padded">
        <button id="{{ i.name }}" (click)="insertComponent(i.name, insertGroup.value)" color="basic" class="sidenavButtons" mat-raised-button>
          <mat-icon>{{i.icon}}</mat-icon>&nbsp;
          <span>{{ i.name }}</span>
        </button>      
      </div>

      <mat-divider class="padded"></mat-divider>

      
      <mat-button-toggle-group #insertGroup="matButtonToggleGroup" value="Right">
        <mat-button-toggle value="Left" matTooltip="Insert mode left">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="Right" matTooltip="Insert mode right">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </mat-button-toggle>       
      </mat-button-toggle-group>
      <div>Insert: {{insertGroup.value}}</div>

  </mat-sidenav>

  <!--Right sidenav-->
  <mat-sidenav  class="rigthSideNav" mode="side" opened #right position="end">
    <app-properties (updateChanges)="updateChanges($event)" #properties></app-properties>
  </mat-sidenav>

  <!--Middle content-->
  <mat-sidenav-content class="table">
    
    <mat-tab-group [selectedIndex]="selected.value"
                  (selectedIndexChange)="selected.setValue($event); changeTab()">
      <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
      </mat-tab>
    </mat-tab-group>
    <app-canva [hidden]="!toggleCanva" #canva (selectedComponent)="showProperties($event)"></app-canva>
    <app-code-tab [hidden]="toggleCanva" #codeTab></app-code-tab>
  </mat-sidenav-content>  

  
</mat-sidenav-container>

<input #FileInput type="file" style="display:none" (change)="onChangeInputFile()">