.sidenav-container {
  height: 100%;
  width: 100%;
  background-color: #839AA8;
}

.mat-sidenav{
  background-color: #839AA8;
}

.padded {
  padding: 10px;
  background-color: #839AA8;
  text-align: center;
  font-weight:bold;
}

.properties{
  background-color: #FDF6EC;
  border-radius: 10px;
  border: 5px solid #839AA8;
  overflow: hidden; 
}

.title {
  padding: 20px;
}

input{
  background-color: #FDF6EC;
  border-radius: 10px;
  border: 5px solid #FDF6EC;
  overflow: hidden;
  width: 82%; 
  font-weight:bold;
}

.mat-button-toggle{
  width: 35px;
  height: 40px;
  background-color: #FDF6EC;
}

.mat-button-toggle-checked {
  background: #d1ccc6;
}

.fileGroup .mat-button-toggle-checked {
  background-color: #FDF6EC;
}

.toggleIcons {
  margin-left: -8px;
  margin-top: -10px;
}

.insertIcons {
  margin-left: -5px;
  margin-top: 8px;
}

.with-icon {
  display: flex;
  align-items: center;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.sidenavButtons {
  left: 20px;
  text-align: left;
  width: 170px;
  font-weight:bold;
  background-color: #FDF6EC;
  border-radius: 10px;
  border: 5px solid #9fadb6;
  overflow: hidden; 
}

.sidenavButtons:hover{
  background-color: #e6ded3;
  border-radius: 10px;
  border: 5px solid #668ca3;
}

.side {
  background-color: #839AA8;
  font-family: 'Roboto', Helvetica, 'Arial', 'sans-serif', 'Arial Narrow';
  border: #839AA8;
}

.mat-divider{
  border: #839AA8;
}

.table{
  height: 95%;
  background-color: #FDF6EC;
  border-radius: 20px;
  border: 10px solid #FDF6EC;
}
.group{
  height: 100vh;
  width: 100vh;
}


.rigthSideNav{
  border-radius: 10px;
  border: 10px solid #839AA8;
  overflow: hidden;
}

.example-input-label,
.example-add-tab-button,
.example-delete-tab-button {
  margin: 8px;
}

::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-track-piece{
	background-color: #FFF;
  border-radius: 10px;
	border: 5px solid #FFF;
}

::-webkit-scrollbar-thumb{
	background-color: #CBCBCB;
	outline: 2px solid #FFF;
	outline-offset: -2px;
  border-radius: 10px;
	border: .5px solid #B7B7B7;
}

::-webkit-scrollbar-thumb:hover{
	background-color: #909090;
  border-radius: 10px;
	border: .5px solid #B7B7B7;
}
