.dialog-title {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.dialog-title button{
    border: none;
    background-color: white;
}

.tableContainer{
    height: 80%;
    width: 100%;
    overflow: auto;
}

.tableContainer table{
    width: 100% !important;
}
