<mat-sidenav-container class="sidenav-container" autosize="true">

  <!--Left sidenav-->
  <mat-sidenav mode="side" opened #left position="start">
      <div class="title">
        <button color="basic" mat-icon-button>
          <mat-icon>folder</mat-icon>&nbsp;
        </button>        
        <span> formInProgressName </span>
      </div>  

      <mat-divider></mat-divider>

      <div mat-menu-item class="padded" >
        <button (click)="changeTab()" color="basic" mat-icon-button>
          <mat-icon>touch_app</mat-icon>&nbsp;
        </button>   
        <button (click)="moveComponent()" color="basic" mat-icon-button>
          <mat-icon>pan_tool</mat-icon>&nbsp;
        </button>
        <button (click)="deleteComponent()" color="basic" mat-icon-button>
          <mat-icon>delete</mat-icon>&nbsp;
        </button>
        <button (click)="openFile()" color="basic" mat-icon-button>
          <mat-icon>cloud_upload</mat-icon>&nbsp;
        </button>
        <button (click)="saveJSON ()" color="basic" mat-icon-button>
          <mat-icon>cloud_download</mat-icon>&nbsp;
        </button> 
      </div>

      <mat-divider class="padded"></mat-divider>

      <div mat-menu-item *ngFor="let i of sideComponents" class="with-icon padded">
        <button id="{{ i.name }}" (click)="setDraggable(i.name, group.value)" color="basic" class="sidenavButtons" mat-raised-button>
          <mat-icon>{{i.icon}}</mat-icon>&nbsp;
          <span>{{ i.name }}</span>
        </button>      
      </div>

      <mat-divider class="padded"></mat-divider>

      <div>Insert mode: {{group.value}}</div>
      <mat-button-toggle-group #group="matButtonToggleGroup" value="Right">
        <mat-button-toggle value="Left" aria-label="Text align left">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="Right" aria-label="Text align center">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </mat-button-toggle>       
      </mat-button-toggle-group>
      

  </mat-sidenav>

  <!--Right sidenav-->
  <mat-sidenav mode="side" opened #right position="end">
      <div mat-menu-item class="with-icon padded">
          <button (click)="toggleSidebar()" color="basic" mat-icon-button>
            <mat-icon>menu</mat-icon>&nbsp;
          </button>         
      </div> 

      <mat-divider></mat-divider>

      <div class="padded">
        <span [hidden]="collapse">Properties</span>
      </div>

      <div mat-menu-item *ngFor="let i of sideProperties" class="padded">
        <span [hidden]="collapse">{{ i+i }}</span>
        <span [hidden]="collapse">{{ i+i }}</span>
      </div>
  </mat-sidenav>


  <!--Middle content-->
  <mat-sidenav-content class="padded">
    <app-canva [hidden]="!showCanva" #canva></app-canva>
    <app-code-tab #codeTab [hidden]="showCanva"></app-code-tab>
  </mat-sidenav-content>

  
</mat-sidenav-container>

<input #FileInput type="file" style="display:none" (change)="onChangeInputFile()">