<mat-sidenav-container class="sidenav-container" autosize="true">

  <!--Left sidenav-->
  <mat-sidenav mode="side" class="side" opened #left position="start">
      <div class="title">
        <button color="basic" mat-icon-button>
          <mat-icon>folder</mat-icon>&nbsp;
        </button>
        <input type="text" [(ngModel)]="this.filename" placeholder="Forms Name">
      </div>
      <mat-divider></mat-divider>

      <div mat-menu-item class="padded" >
        <button (click)="this.canva.changeClickMode('Normal')" color="basic" mat-icon-button>
          <mat-icon>touch_app</mat-icon>&nbsp;
        </button>   
        <button (click)="moveComponent(); this.canva.changeClickMode('Move')" color="basic" mat-icon-button>
          <mat-icon>pan_tool</mat-icon>&nbsp;
        </button>
        <button (click)="deleteComponent(); this.canva.changeClickMode('Delete')" color="basic" mat-icon-button>
          <mat-icon>delete</mat-icon>&nbsp;
        </button>
        <button (click)="openFile()" color="basic" mat-icon-button>
          <mat-icon>cloud_upload</mat-icon>&nbsp;
        </button>
        <button (click)="saveJSON ()" color="basic" mat-icon-button>
          <mat-icon>cloud_download</mat-icon>&nbsp;
        </button> 
      </div>

      <mat-divider class="padded"></mat-divider>

      <div mat-menu-item *ngFor="let i of sideComponents" class="with-icon padded">
        <button id="{{ i.name }}" (click)="setDraggable(i.name, group.value)" color="basic" class="sidenavButtons" mat-raised-button>
          <mat-icon>{{i.icon}}</mat-icon>&nbsp;
          <span>{{ i.name }}</span>
        </button>      
      </div>

      <mat-divider class="padded"></mat-divider>

      <div>Insert mode: {{group.value}}</div>
      <mat-button-toggle-group #group="matButtonToggleGroup" value="Right">
        <mat-button-toggle value="Left" aria-label="Text align left">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="Right" aria-label="Text align center">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </mat-button-toggle>       
      </mat-button-toggle-group>
      

  </mat-sidenav>

  <!--Right sidenav-->
  <mat-sidenav  class="rigthSideNav" mode="side" opened #right position="end">
    <app-properties (updateChanges)="updateChanges($event)" #properties></app-properties>
  </mat-sidenav>

  <!--Middle content-->
  <mat-sidenav-content class="table">
    
    <mat-tab-group [selectedIndex]="selected.value"
                  (selectedIndexChange)="selected.setValue($event); changeTab()">
      <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
      </mat-tab>
    </mat-tab-group>
    <app-canva [hidden]="!toggleCanva" #canva (selectedComponent)="showProperties($event)"></app-canva>
    <app-code-tab [hidden]="toggleCanva" #codeTab></app-code-tab>
  </mat-sidenav-content>  

  
</mat-sidenav-container>

<input #FileInput type="file" style="display:none" (change)="onChangeInputFile()">