<div mat-dialog-title class="dialog-title">
    <h3>Component : {{data.key}}</h3>
    <button mat-icon-button [mat-dialog-close]="{changes, options}" (click)="apply()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

<div class="tableContainer">
    <table mat-table [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="Position">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Num. </th>
            <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
            </ng-container>
    
            
        <!-- Label Column -->
        <ng-container matColumnDef="Label">
            <th mat-header-cell *matHeaderCellDef> Label </th>
            <td mat-cell *matCellDef="let element">
                <input matInput (change)="changes=true"  placeholder="Label" [value]="element.label" [(ngModel)]="element.label">
            </td>
        </ng-container>
    
        <!-- Value Column -->
        <ng-container matColumnDef="Value">
            <th mat-header-cell *matHeaderCellDef> Value </th>
            <td mat-cell *matCellDef="let element">
                <input matInput (change)="changes=true" placeholder="Value" [value]="element.value" [(ngModel)]="element.value">
            </td>
        </ng-container>
    
        <!-- Disabled Column -->
        <ng-container matColumnDef="Disabled">
            <th mat-header-cell *matHeaderCellDef> Disabled </th>
            <td mat-cell *matCellDef="let element;">
                <mat-checkbox (change)="changes= true; element.disabled = !element.disabled" checked="{{element.disabled}}"></mat-checkbox>
            </td>
        </ng-container>
        
        <!-- Action Column -->
        <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let i = index">
                <button (click)="deleteRow(i); changes = true" color="basic" mat-icon-button>
                    <mat-icon>delete</mat-icon>&nbsp;
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<div class="newOption">
    <h3 >New Option:</h3>
    <mat-form-field >
        <mat-label>Label</mat-label>
        <input [(ngModel)]="newData.label" matInput  placeholder="Label" required/>
        <mat-error *ngIf="newData.label === ''">Input can't be empty</mat-error>
    </mat-form-field>
    <mat-form-field >
        <mat-label>Value</mat-label>
        <input [(ngModel)]="newData.value" matInput  placeholder="Value" required/>
        <mat-error *ngIf="newData.value === ''">Input can't be empty</mat-error>
    </mat-form-field>
    <mat-checkbox [(ngModel)]="newData.disabled">Disabled</mat-checkbox>
    
    <button class="buttons" (click)="addOption()"><mat-icon>add</mat-icon></button>
</div>
