.dialog-title {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.dialog-title button{
    border: none;
    background-color: white;
}

.tableContainer{
    height: 61%;
    width: 100%;
    overflow: auto;
}

.tableContainer table{
    width: 100% !important;
}


.newOption h4{
    margin: 2% 0;
}

.mat-form-field{
    margin-right: 5%;
    width: 34%;
}

.mat-checkbox{
    margin-right: 5%;
    margin-bottom: 16px;
}


.buttons{
    width: 8%;
    font-size: 32px;
    border-radius: 6%;
    border: none;
    height: 3.5rem;
    background-color: #839AA8;
}

.buttons:hover{
    cursor: pointer;
}
